@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    background-color: white;
    background-color: rgb(7, 0, 17);
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    background-color: rgb(7, 0, 17);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgb(10, 0, 30); 
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    font-weight: 900;
    color: #00ffee;
    text-shadow: 2px 2px #ff0000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
    color: #e0aa3e;
}
#nav-menu{
    margin: 20px;
}

nav a{
    margin-top: 2.3rem;
    font-size: 2.3rem;
    color: #fffefea7;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}
.menu-icon {
    font-size: 2.5rem;
    color: white;
    cursor: pointer; 
    opacity: 0;
}

nav a:hover{
    color: #dc9e21;
    border-bottom: 3px solid #00ffee;
    transition: 0.5s ease-in-out;
}
.active{
    color: #fffefe;
    border-bottom: 3px solid #00ffee;
    padding-bottom: 5px;
}
nav a:active{
    color: #bb3520e1;
}
nav a::after{
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background: red;
  top: 0;
  bottom: -6px;
  transition: 0.5s;
}
input{
    border-radius: 40px;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 2.5rem;
    margin-left: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact {
    padding: 55px 25px;
    background-color: rgb(7, 0, 17);
    border: 1px solid #00ffee;
    backdrop-filter: blur(10px);
    border-radius: 15%;
    box-shadow: 0 0 10px #00ffee;
    max-width: 600px;
    margin: 140px auto;
    transition: all .2s ease-in;
}
h3{
    font-size: 2rem;
}
.container {
    display: flex;
    border-radius: 20px;
    flex-direction: column;
}

.contact label{
    font-size: 17px;
}

.contact:hover,
.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
    box-shadow: 0 0 7px #00ffee;
    transition: all .2s ease-in;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

form{
    border-radius: 50%;
}

.EP{
    font-size: 25px;
}

.EP i{
    color: #00ffee;
    margin: 0 2rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.submit-btn {
    background-color: rgb(2, 210, 210);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-self: center;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 0 17px #00ffee;

}

.social-media {
    margin-top: 30px;
    text-align: center;
}

.social-media h3 {
    margin-bottom: 10px;
    color: #333;
}

.social-icon {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
    font-size: 32px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #52a5fe;
    box-shadow: 0 0 20px #00ffee;
    box-sizing: border-box;
    border-radius: 40%;
}

@media (max-width: 768px) {
    .contact {
        padding: 30px 10px;
        border-radius: 10%;
    }

    .social-media {
        font-size: 20px;
    }
    h3{
        font-size: 3rem;
    }
    .EP{
        font-size: 3rem;
    }

}
@media(max-width:1201px){
    body{
        margin: 0;
        padding: 0;
    }
    html{
        font-size: 40%;
    }

   nav a:active{
        display: block;
        color: rgb(235, 46, 109);
}
.menu-icon{
    opacity: 1;
}
    nav{
        display: none;
        position: absolute;
        margin-top: 230em;
        top: 0;
        bottom: 20;
        right: 0;
        width: 40%;
        border-top-right-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
        background-color: #161616;
        border-bottom: 93px solid #00ffee;
        border: 5px solid #00ffee;
        margin-right: 2rem;
        padding: 0;
    }

    nav.active {
        display: block;
    }
    .active{
        margin-right: 2rem;
        border-bottom: 3px solid #00ffee;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        border-bottom: #161616;
        margin-left: 2rem;

    }

    nav a:hover,
    nav a:active{
        padding: 0.5rem;
    }
}
