@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    background-color: white;
    /* background-color: #0D1B2B;  */
    background-color: rgb(7, 0, 17);
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: white;
    background-color: rgb(7, 0, 17);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgb(10, 0, 30); 
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    font-weight: 900;
    color: #00ffee;
    text-shadow: 2px 2px #ff0000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
    color: #e0aa3e;
}
#nav-menu{
    margin: 20px;
}

nav a{
    margin-top: 2.3rem;
    font-size: 2.3rem;
    color: #fffefea7;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}
.menu-icon {
    font-size: 2.5rem;
    color: white;
    cursor: pointer; 
    opacity: 0;
}

nav a:hover{
    color: #dc9e21;
    border-bottom: 3px solid #00ffee;
    transition: 0.5s ease-in-out;
}
.active{
    color: #fffefe;
    border-bottom: 3px solid #00ffee;
    padding-bottom: 5px;
}
nav a:active{
    color: #bb3520e1;
}
nav a::after{
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background: red;
  top: 0;
  bottom: -6px;
  transition: 0.5s;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 2.5rem;
    margin-left: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
    min-height: 100%;
    padding: 1rem 9% 1rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(7, 0, 17);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #2947a0;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 20vw;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: 4px solid #0076c4d2;
    box-sizing: border-box;
    z-index: 1;
}
.home-img img:hover{
    width: 21vw;
    transition: 0.5s ease-in-out;
    box-shadow: 0 2px 2px 4px #0099ffd2;
}

.typing-text{
    font-size: 3.5rem;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "";
    color: #e0aa3e;
    animation: words 15s infinite;
}
.typing-text span:hover{
    font-size: 1.1em;
    transition: 200ms ease;

    color: blue;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
    transition: 4s ease;
}

@keyframes cursor{

    0%, 40%{
        border-left: 3px solid blue; 
    }
    90%{
        border-left: 3px solid #e0aa3e;
    }
    /* 81%, 99%{
        border-left: 3px solid red;
    } */
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
        color: blue;

    }

    41%, 60%{
        content: "Web Designer";
        color: #e0aa3e;

    }
    81%, 99%{
        content: "Gamer";
        color: red;
        
    }
}
@media(max-width:996px){
    body{
        margin: 0;
        padding: 0;
    }
    html{
        font-size: 40%;
    }

   nav a:active{
        display: block;
        color: rgb(235, 46, 109);
}
.menu-icon{
    opacity: 1;
}
    nav{
        display: none;
        position: absolute;
        margin-top: 230em;
        top: 0;
        bottom: 20;
        right: 0;
        width: 40%;
        border-top-right-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
        background-color: #161616;
        /* border-top: 0.1rem solid rgba(0,0,0,0.1); */
        border-bottom: 93px solid #00ffee;
        border: 5px solid #00ffee;
        margin-right: 2rem;
        padding: 0;
    }

    nav.active {
        display: block;
    }
    .active{
        margin-right: 2rem;
        border-bottom: 3px solid #00ffee;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        border-bottom: #161616;
        margin-left: 2rem;

    }

    nav a:hover,
    nav a:active{
        padding: 0.5rem;
    }
    .social-icons a svg{
        margin-bottom: 100%;
        fill: red;
    }
}
@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
    body {
        margin-top: -80px;
    }
}

@media(max-width:950px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2rem;
    }
}
@media (max-width:626px) {
    .home-img img{
        position: relative;
        border: 2px solid #0404a9d2;
        background-color: rgb(150, 66, 66);
    }
    .home-img img:hover {
        box-shadow: 0 3px 2px 1px #0404a9d2;
    }
    .social-icons{
        position: relative;
        bottom: 5rem;
        box-sizing: border-box;
        font-size: 65%;
    }
}  
.social-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -100px;
    font-size: 0.1rem;
}
.social-icons a {
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    margin-bottom: 7px;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px 2px var(--social-color);
}
.social-icons a svg{
    height: 32px;
    fill: rgb(0, 0, 0);
    margin-top: -10px;
}
.social-icons a::before{
    content: attr(social-name);
    background-color: var(--social-color);
    text-decoration: none;
    transform: translateY(-30px) rotate(25deg);
    color: white;
    position: absolute;
    padding: 0.5em 1em;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0 0.5);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}
.social-icons a:hover::before{
   transform: translateY(-65px) rotate(0deg);
   font-size: 0.7em;
   opacity: 1;
}
.social-icons a svg:hover{
    fill: var(--social-color);
}
.social-icons a::after{
    content: '';
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
    height: 0px;
    width: 0px;  
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--social-color);
    transform: translateY(0px) rotate(25deg);
    opacity: 0;
    animation: ease-in-out  ;
}
.social-icons a:hover::after{
    opacity: 1;
    transform: translateY(-65px) rotate(0);
}
