*{
    background-color: black;
    color: white;
}
.txt{
    position:relative;
    align-items: center;
    display: flex;
}
h1{
    position: absolute;
    top: 7%;
    left: 30%;
    right: 10%;
    justify-content: center;
}
p{
    display: flex;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.projects{
    margin-left: 40px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: 1;
}
span{
    align-items: center;
}
 .projects img{
    margin-top: 100px;
    width: 400px;
    height: 400px;
 }
